.container{
  // background-image: linear-gradient(to right, #183642, #313d5a);
  background-color: #0E2759;
  min-height: calc(100vh - 200px);
  padding: 100px 0;
  
  h2{
    color: white;
    text-align: center;
    margin-bottom: 50px;

    font-size: 50px;
    font-weight: 600;
  }

  &__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 75%;
    margin: 0 auto;

    .card{
      width: 30%;
      margin: 10px 2.5%;
      box-sizing: border-box;
      position: relative;
      
      &:nth-child(3n){
        margin-right: 0;
      }
      &:nth-child(3n+1){
        margin-left: 0;
      }

      &__btn{
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        width: fit-content;

        position: relative;

        &__img{
          text-decoration: none;
          color: white;
          width: 100%;
        }

        &:before{
          content: 'clique aqui para abrir o projeto';
          color: transparent;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: space-evenly;
          font-size: 12px;

          position: absolute;
          bottom: 0;
          left: 0;

          width: 100%;
          height: 0;

          background-color: rgba(0, 0, 0, 0.5);

          transition: .5s;
          z-index: 1;
        }
        &:hover:before{
          color: white;
          height: 100%;
        }
      }
    }
  }
}