.btn-nav{
  @media (width > 992px){
    position: relative;

    &::after{
      content: '';
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 2px;
      background: skyblue;
      transition: .3s;
    }
    &:hover::after{
      transition: .3s;
      width: 100%;
    }
  }
}