<footer [ngStyle]="{'background-image': 'url(background/por-do-sol.jpg)'}" class="layout blur position-relative container-fluid" id="contatos">
  <div class="row position-absolute left-0 top-0 w-100 h-100">
    <div class="col-10 col-sm-8 col-lg-6 m-auto z-1 d-flex justify-content-around">
      <a href="https://www.linkedin.com/in/jeangs/" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg" alt="LinkedIn" loading="eager">
      </a>
      
      <a href="curriculo/Curriculo.pdf" download>
        <img src="https://img.icons8.com/?size=100&id=39372&format=png&color=000000" alt="Currículo" loading="eager">
      </a>
      
      <a href="https://github.com/JeanGS8" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="GitHub" loading="eager">
      </a>
    </div>
  </div>
</footer>