.header{
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: #313d5a solid 1px;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(10px);
  z-index: 10;
  
  &__navbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
    margin: 0 auto;
  }

  &__titulo{
    color: #e0607e;
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
  }

  &__ul{
    display: flex;
  }

  &__item{
    margin: 25px 0;
    text-decoration: none;
  }

  &__anchor{
    color: white;
    font-size: 28px;
    text-decoration: none;
    transition: 0.3s;
    margin-right: 25px;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      height: 3px;
      width: 0;
      border-radius: 10px;

      bottom: -3px;
      left: 50%;

      //background-color: #bdd5ea;
      background-color: lightskyblue;
      
      transition: .3s;
    }
    &:hover:before{
      width: 100%;
      left: 0;
    }
  }
}

@media (max-width: 974px){
  .header{
    width: 100vw;
  }
  .header__navbar{
    width: 100%;
    justify-content: center;
  }
  .header__ul{
    width: 100%;
    justify-content: space-evenly;
  }
  .header__anchor{
    margin-right: 0;

    &:hover:before{
      width: 0;
      left: 0;
    }
  }
}