.footer{
  background-color: #0C1226;

  div{
    color: white;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;

    .lista-l{
      h3{
        text-align: center;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
      }

      li{
        padding-left: 15px;
        display: flex;
        margin-bottom: 5px;
        font-size: 18px;

        a{
          margin-left: 5px;
          text-decoration: none;
          transition: 0.3s;
          color: white;

          &:hover{
            color: #3DD9D9;
          }
        }
      }
    }

    .lista-r{
      h3{
        text-align: center;
        margin-bottom: 10px;

        font-size: 20px;
        font-weight: 600;
      }
      li{
        display: flex;
        margin-bottom: 5px;
        font-size: 18px;

        p{
          margin-left: 5px;
        }
      }
    }
  }
}

@media (max-width: 974px){
  .footer{  
    div{
      flex-direction: column;
  
      .lista-l{
        margin-bottom: 20px;
        li{
          display: flex;
          justify-content: center;
  
          a{  
            &:hover{
              color: inherit;
            }
          }
        }
      }
  
      .lista-r{
        li{
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}